HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
ecommerce-ui/.vscode/

# Angular UI project
ecommerce-ui/node_modules/
ecommerce-ui/jspm_packages/
ecommerce-ui/dist/
ecommerce-ui/out-tsc/
ecommerce-ui/coverage/
ecommerce-ui/build/
ecommerce-ui/.angular/
ecommerce-ui/.angular-cache/
ecommerce-ui/*.env
ecommerce-ui/*.map
ecommerce-ui/tmp/
ecommerce-ui/temp/
ecommerce-ui/*.tmp

# Logs
ecommerce-ui/logs
ecommerce-ui/*.log
ecommerce-ui/npm-debug.log*
